# Next.js build output
.next/

# MacOS system file
.DS_Store

# Node modules (nên ignore luôn)
node_modules/

# Environment variables
.env*.local
.env.local
.env
.env.development.local
.env.test.local
.env.production.local
